/*Lmpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
}

#for_d_pagina {
    font-size: 1em;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background: #e6e6e6;
}

/*
**** Layout ****
*/

#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 10px;
}

#area-principal {
 width: 920px;
 margin: 0 auto;
}

#area-postagens, #area-lateral {
    background-color: orange;
    float: left;
}

#area-postagens {
    width: 660px;
}

#area-lateral {
    width: 240px;
    float: right;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}
/*
**** Formatação menu ****
*/
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #fff;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background: #fff;
}

/*
**** Formatações em geral ****
*/

h1 {
    color:#4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: #ffffff;
}